.mp-body-edit-wrap {
    display: none;
    .show-mp-body-edit-wrap & {
        @include flexbox;
    }
    @include flex-direction(column);
    height: 100%;
    .toolbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: rem(90);
        background: #eee;
        border-bottom: 1px dashed #ccc;
        @include clearfix;
        a {
            display: block;
            height: rem(90);
            line-height: rem(90);
            color: #555;
            font-size: rem(26);
            padding: 0 rem(24);
            border-right: 1px dashed #ccc;
            float: left;
            &:active {
                background-color: #ccc;
            }
        }
        a.right {
            float: right;
            border: none;
            border-left: 1px dashed #ccc;
        }
        .inser_img {
            position: relative;
            input {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                opacity: 0;
                width: 100%;
            }
        }
    }
    .editor {
        @include flex(1);
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        font-size: rem(32);
        border-radius: 0;
        -webkit-appearance: none;
        border: none;
        // border-bottom: 1px dashed #eee;
        padding: rem(100) rem(10) rem(10);
        line-height: 1.6;
        color: #333;
        background-color: #fafafa;
    }
}

.show-mp-body-edit-wrap {
    .main-wrap {
        display: none;
    }
}