@import "reset";
@import "flexbox";
@import "fn";
html,
body,
.main-wrap {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.main-wrap {
    height: 100%;
    .edit-wrap {
        .show-edit-wrap & {
            @include flexbox;
        }
        display: none;
        height: 100%;
        @include flex-direction(column);
        padding: rem(10);
        .input-wrap {
            @include flexbox;
            @include flex-direction(column);
            @include flex(1);
            width: 100%;
            padding: 0;
            font-size: rem(32);
            // padding: rem(20);
            input,
            textarea {
                box-sizing: border-box;
                // padding: rem(10);
                margin: 0 0 rem(10);
                width: 100%;
                font-size: rem(32);
                border-radius: 0;
                -webkit-appearance: none;
                border: none;
                border-bottom: 1px dashed #eee;
                padding: 0 rem(12);
            }
            input {
                display: block;
                height: rem(66);
            }
            textarea {
                padding-top: rem(20);
            }
        }
    }
}

.btn-wrap {
    padding: rem(20) 0;
    text-align: center;
    @include flexbox;
    @include justify-content(center);
    .btn {
        @include flex(1);
        max-width: 60%;
        display: inline-block;
        border-radius: rem(20);
        // width: 60%;
        height: rem(80);
        line-height: rem(80);
        font-size: rem(28);
        color: #fff;
        background: #2196F3;
        border: none;
        margin: 0 rem(20);
    }
    .btn-green {
        background-color: #689F38;
        &:active {
            background-color: darken(#689F38, 8%);
        }
    }
}

.md-wrap {
    display: none;
    .show-mp-render-wrap & {
        display: block;
        .btn-wrap {
            display: none;
        }
    }
    .show-preview-wrap & {
        display: block;
    }
}

#mdRenderWrap {
    .show-mp-render-wrap & {
        transform: scale(2.5);
    }
    background: #fdfdfd;
    padding: rem(30);
    transform-origin: left top;
    color: #333;
    line-height: 1.8;
    font-size: rem(32);
    .title-wrap {
        margin-top: rem(100);
        font-weight: bold;
        line-height: 1.1;
        color: #333;
        @include clearfix;
    }
    .title {
        font-size: rem(80);
        width: 76%;
        text-align: left;
        border-bottom: 1px solid #555;
        word-spacing: 1px;
        padding-bottom: rem(10);
        letter-spacing: -1px;
    }
    .sub-title {
        font-size: rem(70);
        width: 86%;
        text-align: left;
        padding-top: rem(12);
    }
    .author {
        margin: rem(30) 0 rem(240);
        color: #666;
        font-weight: normal;
        font-size: rem(24);
    }
    .date {
        text-align: center;
        padding: rem(240) 0 rem(60);
        font-weight: bold;
        color: #333;
    }
    h1,
    h2,
    h3,
    h4 {
        font-weight: bold;
        margin: rem(80) 0 rem(50);
        position: relative;
        &:before {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            bottom: 2px;
            left: rem(-30);
            // height: 4px;
            width: 4px;
            background: #999;
        }
    }
    h1 {
        font-size: rem(42);
    }
    h2 {
        font-size: rem(36);
    }
    h3 {
        font-size: rem(34);
    }
    h4 {
        font-size: rem(32);
    }
    p {
        margin: rem(50) 0;
    }
    p.p_img {
        margin-left: rem(-30);
        margin-right: rem(-30);
        text-align: center;
    }
    strong {
        font-weight: 600;
    }
    hr {
        height: 0;
        margin: 15px 0;
        overflow: hidden;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #dfe2e5;
    }
    hr::before {
        display: table;
        content: "";
    }
    hr::after {
        display: table;
        clear: both;
        content: "";
    }
    blockquote {
        margin: 0;
        padding: 0 rem(20);
        color: #444;
        background: #eee;
        font-size: rem(32);
    }
    pre {
        margin-top: 0;
        margin-bottom: 0;
        font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }
    code {
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 12px;
    }
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    ul,
    ol {
        padding-left: rem(40);
        margin-top: 0;
        margin-bottom: 0;
        li {
            margin: rem(20) 0;
            position: relative;
            &:before {
                position: absolute;
                content: " ";
                width: rem(8);
                height: rem(8);
                background: #333;
                top: rem(22);
                left: rem(-26);
            }
        }
    }
    ol ol,
    ul ol {
        list-style-type: lower-roman;
    }
    ul ul ol,
    ul ol ol,
    ol ul ol,
    ol ol ol {
        list-style-type: lower-alpha;
    }
}

.gen-wrap {
    .show-gen-wrap & {
        display: block;
    }
    display: none;
    img {
        width: 100%;
    }
}

@import "mpBodyEdit";
@import "loading";